.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.menu-button {
	width: 80%;
	transition: all 0.5s;
}

.sidebar{
	background-color: rgba(146, 216, 192, 0.31);
	max-width: 30%;
	min-width:10%;
	width:17%;
}

.container{
	display: flex;
	flex-direction: row;
	max-height: 600;
	padding: 0 5% 5% 0;
}

.item-left{
	order: 1;
	flex-grow: 1;
	margin-right: 20px;
}

.item-right{
	margin-top: 20px;
	margin-left: 10%;
	order: 2;
	flex-grow: 2;
}

h1.page-title{
	text-align: center;
}

.sidebar-paragraph{
	margin: 30px;
	padding: 10px;
	border-radius: 20px;

}

.image-frame{
	margin: 10px;
	padding: 10px;
	border-radius: 20px;

}